.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  padding: 5%;
  margin:auto;
}


.header{
  width: 100%;
  align-content: center;
  padding-left: 725px;
  padding-top: 50px;
}
.navbar{
  width:100%;
  background-color: rgb(129, 128, 127);
  height: 90px;
  margin-bottom: 30px;
  box-shadow: #c7c7c9 ;
  }
